<div class="input-group">
    <span class="input-group-addon">
        <input id="toggle" type="checkbox" aria-label="..." <%= hidden ? 'checked="checked"' : '' %>>
    </span>
    <input id="name" type="text" class="form-control" aria-label="..." value="<%= _.escape(name) %>">
    <span class="input-group-btn">
        <a class="btn btn-default" href="#timelines/<%= objectId %>" role="button"><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span></a>
    </span>
</div><!-- /input-group -->

